body {
    font-family: 'Courier New', Courier, monospace;
    padding-top: 50px;
}
/* weather */
.weather {
    width: 50%;
    border: 1px solid #beafc2;
    border-radius: 4px;
    color: #f2f1f8;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 16px;
    background-color: rgb(46, 45, 99);
}

.weather h1 {
    color: #2415b1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    line-height: 29px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.weather ul {
    margin: 0;
    padding: 0;
}

.weather li {
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    line-height: 19px;
    display: flex;
    justify-content: center;
}

.weather .temperature {
    font-weight: bold;
    color: #dbd828;
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
}

.weather canvas {
    margin: 10px auto;
}

.weather .unit {
    color: #65463e;
    font-size: 16px;
    position: relative;
    line-height: 1;
    top: -34px;
}

.btn-outline-secondary,
.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:visited {
    background-color: #dee788 !important;
}

/* weather end */

/* weather forecast */
.weatherForecast {
    text-align: center;
}

.weatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
}
/* weather forecast end */
